<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6852483431-jq9l8fl0akcnfq4eqsgv8l4t6opj1mc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6852483431-jq9l8fl0akcnfq4eqsgv8l4t6opj1mc4</string>
	<key>API_KEY</key>
	<string>AIzaSyByrRu63hlzlFFAgga9hVLsSjGJllxg4yo</string>
	<key>GCM_SENDER_ID</key>
	<string>6852483431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrCodeGestor</string>
	<key>PROJECT_ID</key>
	<string>votaciones-ipum</string>
	<key>STORAGE_BUCKET</key>
	<string>votaciones-ipum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6852483431:ios:fb2ef8c09d22b9a499b7c2</string>
	<key>DATABASE_URL</key>
	<string>https://votaciones-ipum-default-rtdb.firebaseio.com</string>
</dict>
</plist>